* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Nunito, sans-serif;
    background-color: rgb(181, 210, 173);
    background-size: cover;
    background-repeat: no-repeat;
}


main{
    padding: 24px;
    
}
a {
    text-decoration-line: none;
    color: inherit;
}
.title{
    font-weight: 800;
    text-transform: uppercase;
}
.header-container {
    
    padding-inline: 24px;
    /* background-color: #3293e1; */
    background-color: rgb(250, 223, 11);
    color: black;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-inline: auto;
  
}
.dark-mode-btn{
    
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    max-width: 150px;
    font-weight: bold;
}

 .countries-container {
    max-width: 1200px;
    margin-top: 16px;
   display: flex;
    gap: 64px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-inline:auto ;
} 
.dark-mode-header{
    background-color: rgb(33, 33, 33);
    color: rgb(230, 230, 230);
}
.dark-mode-body{
    background-color: rgb(39, 41, 51);
}

.country-card {
    display: inline-block;
    width: 250px;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
    box-shadow: 6px 6px 0px 0px rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
    background-color: rgb(253, 253, 150); 
    cursor: pointer;
    position: relative;
    z-index: 10;
}
.country-card.dark-mode-card {
    background-color: rgb(136, 170, 238) !important;  
    color: #021526 !important; 
    box-shadow: 4px 4px black !important;
}
.country-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 24px;
    margin-block: 16px;
}
.country-card img {
    width: 100%;
}
.card-text{
    padding-inline: 16px;
}
.card-text p {
    margin-block: 8px;
}
.search-filter-container{
    max-width: 1200px;
    margin-top: 16px;
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    /* flex-direction: row; */
}
.search-container{
    background-color: rgb(250, 223, 11);
    max-width: 350px;
    width: 100%;
    box-shadow: 4px 6px 0px 0px rgb(0, 0, 0);
    border-radius: 4px;
    padding: 0 16px;
    padding-left: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-container input{
    border: none;
    padding: 16px;
    background-color: rgb(250, 223, 11);
    outline: none;
    cursor: pointer;
    width: 90%;
}
.search-container i{
    margin-right: 8px;
}
.search-container input::placeholder{
    color: #021526;
}
.search-filter-container select{
    padding:12px;
    background-color: rgb(250, 223, 11);
    width:250px;
    outline: none;
    border: none;
    box-shadow: 4px 6px 0px 0px rgb(0, 0, 0);
    border-radius: 4px;
}
@media(max-width: 768px){
    .countries-container{
        gap: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header-content{
        font-size: 10px;
    }
    .dark-mode-btn{
        font-size: 10px;
    }
    .search-filter-container{
        flex-direction: column;
        row-gap: 24px;
    }
    .search-container input{
        padding: 10px;
       
    }
    .search-filter-container select{
        padding: 10px;
    }
}
@media(max-width: 400px){
    .search-container{
        width: 90%;
    }
    .search-filter-container select{
        width: 90%;
    }
}